## Instruction
### Installation of BLAST 
Install NCBI standalone BLAST from (https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=Download). \
Set the path to the BLAST.

### Make database
Download a fast file containing the transcriptome of your species. The example link is (http://useast.ensembl.org/info/data/ftp/index.html). \
The file is used to minimize the non-specific binding of oligonucleotides. \
Make a local database from the file according to (https://www.ncbi.nlm.nih.gov/books/NBK569841/). \
Example databases are included in ./data/ . Only database with ensemple transcript ID is accepted.

### Download 
Download the fasta file of mRNA of your interest from NCBI.
The example file is included in ./data/slc17a7/

In [1]:
import pandas as pd

from oligodesigner import blockParse_py3
from oligodesigner import io
from oligodesigner import parse
from oligodesigner import sequence
from oligodesigner import parameters
from oligodesigner import oligodesigner

In [2]:
# paths to the example databases.
cdna_database = {
                 'human': './data/human_transcriptome/human_transcriptome_db',
                 'mouse': './data/mouse_transcriptome/mouse_transcriptome_db',
                 'rat'  : './data/rat_transcriptome/rat_transcriptome_db'
}

In [3]:
# Parameter settings
mFISH3D_param = {
    'fasta':'/home/tmurakami/src/split-oligo-designer/data/slc17a7/slc17a7_hs.fasta',
    'database':cdna_database['human'],
    'minimum_offtarget_gap':100,
    'hcr_seqs':parameters.hcr_one_side['B1'],
    'self_remove': True # set this True if your template sequence appears in database.
}


oligominer_param = {
    'l':20,
    'L':20,
    'gcPercent':25,
    'GCPercent':75,
    'tm':0,
    'TM':100,
    'X':'AAAAAA,TTTTTT,CCCCCC,GGGGGG',
    'sal':390,
    'form':30,
    'sp':1,
    'concA':25,
    'concB':25,
    'headerVal':None,
    'bedVal':False,
    'OverlapModeVal':False,
    'verbocity':False,
    'reportVal':True,
    'debugVal':False,
    'metaVal':False,
    'outNameVal':None,
    'nn_table':'DNA_NN3'
}

In [4]:
res = oligodesigner.generator(mFISH3D_param, oligominer_param)
res

0 of 2949
132 candidate probes identified in 2.94 kb yielding 44.96 candidates/kb
refseq id NM_020309.4 was found
The sequence is the most similar to SLC17A7 with the score of 0.6463361991574816
Homologous transcript(s) was identified. This may impact on the selection of the oligos
Homologous transcript SLC17A8 was found with the score of 0.1779060160120019

,gene,oligo_id,seq,start,end,interval_after,mean_interval,hcr_seq
0,NM_020309.4,NM_020309.4_0,"(G, G, G, G, G, A, A, G, G, A, G, G, C, T, G, ...",1,20,34.0,NaN,"(G, A, G, G, A, G, G, G, C, A, G, C, A, A, A, ..."
1,NM_020309.4,NM_020309.4_1,"(G, T, C, C, G, G, G, T, T, C, C, C, G, G, G, ...",54,73,59.0,NaN,"(G, T, C, C, G, G, G, T, T, C, C, C, G, G, G, ..."
2,NM_020309.4,NM_020309.4_2,"(C, A, T, G, G, T, G, G, C, G, G, C, T, C, C, ...",132,151,2.0,NaN,"(G, A, G, G, A, G, G, G, C, A, G, C, A, A, A, ..."
3,NM_020309.4,NM_020309.4_3,"(A, A, A, C, T, C, C, T, C, C, T, G, G, C, G, ...",153,172,2.0,NaN,"(A, A, A, C, T, C, C, T, C, C, T, G, G, C, G, ..."
4,NM_020309.4,NM_020309.4_4,"(A, G, C, A, C, G, A, C, C, C, G, C, T, A, G, ...",174,193,2.0,NaN,"(G, A, G, G, A, G, G, G, C, A, G, C, A, A, A, ..."
...,...,...,...,...,...,...,...,...
121,NM_020309.4,NM_020309.4_126,"(T, C, T, G, T, G, A, C, T, T, C, T, C, T, A, ...",2798,2817,2.0,2.812500,"(T, C, T, G, T, G, A, C, T, T, C, T, C, T, A, ..."
122,NM_020309.4,NM_020309.4_127,"(C, C, C, C, A, T, T, C, C, C, T, T, T, C, A, ...",2819,2838,17.0,2.812500,"(G, A, G, G, A, G, G, G, C, A, G, C, A, A, A, ..."
123,NM_020309.4,NM_020309.4_128,"(C, A, A, C, C, C, T, G, C, A, C, T, G, G, G, ...",2855,2874,2.0,2.833333,"(C, A, A, C, C, C, T, G, C, A, C, T, G, G, G, ..."
124,NM_020309.4,NM_020309.4_129,"(A, G, A, G, A, C, A, G, A, G, A, C, A, C, A, ...",2876,2895,23.0,2.833333,"(G, A, G, G, A, G, G, G, C, A, G, C, A, A, A, ..."
125,NM_020309.4,NM_020309.4_131,"(A, A, G, C, T, T, T, T, A, T, T, G, G, G, A, ...",2918,2937,NaN,3.270833,"(A, A, G, C, T, T, T, T, A, T, T, G, G, G, A, ..."